<h3>Stories</h3>
<div class="section">
    <p class="lead">
        Create stories for use!
    </p>
</div>
<div class="divcon">
    <div class="section">
        <a href="/auth/google" class='btnlog'>
            <i class='fab fa-google'></i> Log in with Google
        </a>
    </div>
</div>