<h3><i class="fas fa-book"></i>Story-Books</h3>
<div class="section">
    <p class="lead">
        Create stories for use!
    </p>
</div>
<div class="divcon">
    <div class="section">
        <a href="/auth/google" class='btn red darken-1'>
            <i class='fab fa-google'></i> Log in with Google
        </a>
    </div>
</div>